table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    table-layout: fixed;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    text-align: center;
}

th.center {
    text-align: center; 
    background-color: #F5F5F5; 
    color: #212121;
}

table.center {
    margin-top: 40px;
    margin-left: auto; 
    margin-right: auto;
}

input {
    width: 442px; 
    height: 38px;
}

button {
    background-color: #4BAE4F;
    border: none;        
    color: white; 
    width: 108px; 
    height: 44px;
}

div.search {
    text-align: center
}

hd {
    margin-top: 40px;
}