.col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.span-small{
    padding-right: 10px;
}
.time-str{
    color: #ccc;
    line-height: 18px;
}
.forum-str{

}

.red {
    color:red;
}
.green {
    color:green;
}

.hidden {
    display: none;
}

.u-bg {
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: auto;
}

.u-title {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px;
    -webkit-box-direction: normal;
    box-direction: normal;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.u-un {
    color: rgba(0,0,0,0.87);
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
}
.u-avatar {
    background-color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 140px;
    margin-top: -70px;
    position: relative;
    width: 140px;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}
.u-bg {
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: auto;
}
.u-info {
    padding: 10 16px;
    -webkit-box-direction: normal;
}
.u-bio {
    margin: 20 auto;
    font-size: 20px;
    overflow: auto;
    min-height: 20%;
    white-space: pre-line;
    text-align: justify;
}
.u-acc {
    text-align: justify;
}

label {
    color: #9fb0a7;
}
