/* 文章标题居中 */
#post>#post-info{
  	text-align: center
}

/* 主页所有文章页面背景 */
#aside_content.card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode 
.layout_post>#post {
	background: rgba(255, 255, 255, 0.8);
}

/* 导航栏 */
#page-header.nav-fixed #nav {
	background: rgba(255, 255, 255, 0.88);
}

#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}

#nav *::after{
    background-color: transparent!important;
}

.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}

#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}

#recent-posts>.recent-post-item {
	height: 249px;
	align-items: center;
}

#post, #page, #archive {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 8px;
  /* border: 1px solid rgb(82, 224, 132); */
}

#aside-content.card-widget {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 18px;
	border: 1px;
}

#footer {
    background: #202942;
}

/* 文章增加段落序号 */
/* #post #article-container.post-content h1,
#post #article-container.post-content h2,
#post #article-container.post-content h3,
#post #article-container.post-content h4,
#post #article-container.post-content h5,
#post #article-container.post-content h6 {
  	padding-left: 0 !important; 
}

#post #article-container.post-content h1::before,
#post #article-container.post-content h2::before,
#post #article-container.post-content h3::before,
#post #article-container.post-content h4::before,
#post #article-container.post-content h5::before,
#post #article-container.post-content h6::before {
	position: relative;
	content: attr(data-toc) ' ';
	display: inline;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin-left: 0;
} */